.nav_bar{
	position: absolute;
	width: 1440px;
	height: 72px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
}

.checked{
	color:orange;
}
.greencheck{
	color:green;
}
.fa { padding:8px; background-color:rgba(255,255,255,0); color:#fff; margin-right:4px; }
.icon-btn { 
	padding: 1px 15px 3px 2px; 
	border-radius:50px;
	height:36px !important;
}
